---
name: eclint

on:
  pull_request:

jobs:
  eclint:
    name: reviewdog / eclint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: eclint
        uses: reviewdog/action-eclint@v1
        with:
          reporter: github-pr-review
